{% extends "base.html" %}
{% block content %}
    <h1 class="mb-4">Seus Chamados Recentes</h1>

    {% if tickets %}
        <div class="row">
            {% for ticket in tickets %}
                <div class="col-lg-4 col-md-6 mb-4">
                    {% include 'components/ticket_card.html' %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Nenhum chamado para exibir!</h4>
            <p>Não há chamados que correspondam aos seus filtros de visualização no momento.</p>
            <hr>
            <p class="mb-0">Tente <a href="{{ url_for('main.create_ticket') }}" class="alert-link">abrir um novo chamado</a>.</p>
        </div>
    {% endif %}

{% endblock content %}